/**MAIN VALUES**/
$main-color: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 26%, rgba(0,255,147,1) 100%);
$second-color: white;

$main-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

/**COLORS**/

.banner__h1,
.buttons-container__button:hover,
.form,
.historic {
    color: $second-color;
}

.topbar-links-container__link,
.banner__h1-about,
.mission-text__h2 {
    color:rgb(16, 16, 145);
}

/**BACKGROUND COLORS**/

.footer {
    background: $main-color;
}

.topbar,
.logo-span,
.presentation,
.buttons-container__button:hover {
    background-color: $second-color;
}

.historic {
    background-color: rgb(16, 16, 145);
}

/**OTHERS**/
.topbar,
.logo-span {
    box-shadow: $main-box-shadow;
}

/*****/

* {
    box-sizing:content-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration-line: none;
}

.topbar {
    z-index:100;
    position:fixed;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.topbar-links-container {
    display: flex;
    align-items: center;
    &__link {
        text-align: center;    
    }
}

.banner {
    position: relative; 
    &__h1 {
        position:absolute;
        z-index:3;
        top:75%;
        left: 55%; 
    transform: translate(-50%, -50%);
    opacity:0.8;
    }
    &__h1-about {
    position: absolute;
    top: 35%;
    }
    &__span-about {
        opacity:0.4;
        position: absolute; 
        top: 35%; 
        left: 4.5%; 
        background-color: $second-color;
    }
}

.logo {
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index:3;
}

.logo-span {
    opacity:0.4;
    position: absolute; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.presentation {
    z-index:5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.presentation-p {
    text-align:justify;
    margin-bottom:40px;
    
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .buttons-container__button {
        background-color: rgba(255, 255, 255, 0.1); 
        color: transparent;
        border: 3px solid;
        background-image: $main-color;
        background-clip: text;
        -webkit-background-clip: text;
        border-image: $main-color 1;
        cursor: pointer;
        transition: background-color 0.8s, color 0.8s;
    }
    
    .buttons-container__button:hover {
        background-image: $main-color; 
        background-clip: border-box; 
        -webkit-background-clip: border-box;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

   li {
    list-style-type: none
    }

    .checkbox {
        display:flex;
        flex-direction: row;
        align-items:center;
    }

    .send {
        background-color: transparent; 
        color: $second-color;
        border: 3px solid;
        cursor: pointer;
        transition: background-color 0.6s, color 0.6s;
    }

    .send:hover {
        background-color: $second-color;
        border: 3px solid $second-color;
        color: rgb(16, 16, 145);
    }

    .copyright {
        color:$second-color;
    }

    .historic {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .mission,
    .historic,
    .team {
        width:100%;
        padding-top:100px;
        padding-bottom:100px;
    }

    .team {
        display:flex;
        flex-direction: column;
        align-items: center;
        &__h2 {
            color:rgb(16, 16, 145);
            font-size:40px;
            margin-bottom:70px;
        }
    }

    .mission {
        display:flex;
        flex-direction:row;
    }

    .mission-img-container,
    .mission-text {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .mission-text {
        display:flex;
        flex-direction: column;
    }

    .mission-text {
        &__text {
            text-align: justify;
            padding-top:25px;
        }
        &__h2 {
            margin-bottom: 50px;
            font-size:40px;
        }
    }

    .fact-and-date {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 15px;
        &__date {
            width:42%;
        }
        &__fact {
            width:58%;
            text-align: justify;
        }

    }

    .modal {
        display: none; /* La modale est cachée par défaut */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      
      .modal-content {
        background-color: white;
        margin-top: 10%;
        margin-left: 37%;
        width: 80%;
        max-width: 450px;
        border-radius: 10px;
        &__img {
            width: 100%;
            height: 50%;
            object-fit: cover;
            display: block;
        }
        &__h3 {
            padding-top:10px;
            padding-left:15px;
        }
        &__p {
            padding:15px;
            padding-bottom:20px;
            text-align: justify;
        }
      }
      
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        padding-right:10px;
      }
      
      .close:hover {
        color: black;
      }
      