/**MAIN VALUES**/
/**COLORS**/
.banner__h1,
.buttons-container__button:hover,
.form,
.historic {
  color: white;
}

.topbar-links-container__link,
.banner__h1-about,
.mission-text__h2 {
  color: rgb(16, 16, 145);
}

/**BACKGROUND COLORS**/
.footer {
  background: linear-gradient(126deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 26%, rgb(0, 255, 147) 100%);
}

.topbar,
.logo-span,
.presentation,
.buttons-container__button:hover {
  background-color: white;
}

.historic {
  background-color: rgb(16, 16, 145);
}

/**OTHERS**/
.topbar,
.logo-span {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*****/
* {
  box-sizing: content-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration-line: none;
}

.topbar {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-links-container {
  display: flex;
  align-items: center;
}
.topbar-links-container__link {
  text-align: center;
}

.banner {
  position: relative;
}
.banner__h1 {
  position: absolute;
  z-index: 3;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.banner__h1-about {
  position: absolute;
  top: 35%;
}
.banner__span-about {
  opacity: 0.4;
  position: absolute;
  top: 35%;
  left: 4.5%;
  background-color: white;
}

.logo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.logo-span {
  opacity: 0.4;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation {
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.presentation-p {
  text-align: justify;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-container__button {
  background-color: rgba(255, 255, 255, 0.1);
  color: transparent;
  border: 3px solid;
  background-image: linear-gradient(126deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 26%, rgb(0, 255, 147) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -o-border-image: linear-gradient(126deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 26%, rgb(0, 255, 147) 100%) 1;
     border-image: linear-gradient(126deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 26%, rgb(0, 255, 147) 100%) 1;
  cursor: pointer;
  transition: background-color 0.8s, color 0.8s;
}

.buttons-container__button:hover {
  background-image: linear-gradient(126deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 26%, rgb(0, 255, 147) 100%);
  background-clip: border-box;
  -webkit-background-clip: border-box;
}

.form {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.send {
  background-color: transparent;
  color: white;
  border: 3px solid;
  cursor: pointer;
  transition: background-color 0.6s, color 0.6s;
}

.send:hover {
  background-color: white;
  border: 3px solid white;
  color: rgb(16, 16, 145);
}

.copyright {
  color: white;
}

.historic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission,
.historic,
.team {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mission {
  display: flex;
  flex-direction: row;
}

.mission-img-container,
.mission-text {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.mission-text {
  display: flex;
  flex-direction: column;
}

.mission-text__text {
  text-align: justify;
  padding-top: 25px;
}
.mission-text__h2 {
  margin-bottom: 50px;
  font-size: 40px;
}

.fact-and-date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 15px;
}
.fact-and-date__date {
  width: 42%;
}
.fact-and-date__fact {
  width: 58%;
  text-align: justify;
}/*# sourceMappingURL=mainStyle.css.map */